@import 'variables.css';


body {
    background-color: var(--primary);
    color: var(--text-primary);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}

/* hero styling*/

.hero {
    background-color: var(--primary);
    height:fit-content;
}

.hero a{
    text-decoration: none;
}

.hero h1 {
    font-size: 3rem;
    color: var(--header-blue);
    text-align: left;
    padding: 50px;
}


.hero button {
    color: #E07A5F;
    padding: 15px 10px;
    font-family: var(--font-primary);
    font-weight: 700;
    border-radius: 12px;
    background-color: #F4F1DE;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    width: 265px;
    height: 72px;
    font-size: 24px;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-left: 50px;
    
}

.hero button:hover {
    background-color: #E07A5F;
    color: #F4F1DE;
}

.doggo-hero {
    background-image: url(../../public/shiba.png);
    background-size:  750px;
    background-repeat:no-repeat;
    position: relative;
    width: 662px;
    height: 517px;
    cursor: pointer;
}

/* info page */
.info {
    background-color: #F4F1DE;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h2{
    padding: 20px;
    font-size: 3rem;
    color: var(--header-blue);
    text-align: center;
    margin: 0px;
}

.info p{
    padding: 50px;
}
/* random page loader */

.randomPage{
    background-color: #F4F1DE;
    height: max-content;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.random-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-container img{
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    margin-top: 20px;
    margin-bottom: 50px;
}
.show-card {
    height: auto;
    width: 500px;
    background-color: #F2CC8F;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;

}

.show-card h1,h2,p{
    padding-left: 30px;
    color: var(--header-blue)
}

.show-card h1{font-size: 30px;}

.show-card button {
    color: #E07A5F;
    
    font-family: var(--font-primary);
    font-weight: 700;
    border-radius: 12px;
    background-color: #F4F1DE;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-sizing: border-box;
    position: relative;
    font-size: 24px;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-left: 50px;
}

.show-card button:hover {
    background-color: #E07A5F;
    color: #F4F1DE;
}

.show-card .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-card .buttons:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* create new blog form */
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .create label {
    text-align: left;
    display: block;
  }
  .create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  }
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

  /* not found page*/
  .not-found{
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
  }

  .not-found a{
      text-decoration: none;
  }


#refresh { font-size: 2rem;}

@media screen and (min-width: 700px){
    #doggos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .random-container{
        flex-direction: column;
    }
}
